body {
	background-color: #343a40;
	padding-top: 70px;
}

.text-title, h1 {
	color: white;
}

.card {
    border: 4px solid rgba(255, 242, 242, .3);
    border-radius: .5rem;
}

.custom-file-control::before {
    content: "Parcourir";
}

.dropdown-menu {
    min-width: 5rem;
}